
<div class="container_carousel">
<c-carousel class="">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          [src]="slide.src"
          alt="{{ slide.title }}"
          class="d-block w-100"
          loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</div><br>
<h1 class="h1_mission">Our Mission</h1>
<div class="div_mission">
  <p class="p_mission">Our mission is to minimize human-elephant conflict by supporting Human-Elephant Coexistence,securing human and elephant lives with Nature and Technology.
    </p>
</div>
<div class="div_mission">
  <h1 class="h1_mission">What We Do</h1>
 
 
</div>

<div class="row row-cols-1 row-cols-md-3 g-6">
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_bees_img_04.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title">Elephant & Honey Bees</h4>
       
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_bees_img_04.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Real-time Elephant Detection & Monitoring</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_bees_img_04.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>
