
<div class="container_carousel">
<c-carousel class="">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          [src]="slide.src"
          alt="{{ slide.title }}"
          class="d-block w-100"
          loading="lazy" />
      </c-carousel-item>
    </c-carousel-inner>
    <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
    <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
  </c-carousel>
</div><br>
<h1 class="h1_mission">Our Mission</h1>
<div class="div_mission">
  <p class="p_mission">Our mission is to minimize human-elephant conflict by supporting Human-Elephant Coexistence,securing human and elephant lives with Nature and Technology.
    </p>
</div>
<div class="div_mission">
  <h1 class="h1_mission">What We Do</h1>
 
 
</div>

<div class="row row-cols-1 row-cols-md-3 g-6">
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_bees_img_04.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Elephants & Honey Bees</h5><br/><br/>
        <button class="btn btn-primary" onClick="document.getElementById('h2_section1').scrollIntoView();">Learn More</button>

       
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_monitoring_img_05.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Real-time Elephant Detection & Monitoring</h5><br/>
      
        <button class="btn btn-primary" onClick="document.getElementById('h2_section2').scrollIntoView();">Learn More</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_incident_img_06.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Incident Reporting and Management</h5><br/>
        <button class="btn btn-primary" onClick="document.getElementById('h2_section3').scrollIntoView();">Learn More</button>
      </div>
    </div>
  </div><br/><br/>
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_live_img_07.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">View Live Camera Feed of respective Zone(s)</h5><br/>
        <button class="btn btn-primary" onClick="document.getElementById('h2_section4').scrollIntoView();">Learn More</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_dashboard_img_08.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Real-Time Incident Dashboard</h5><br/><br/>
        <button class="btn btn-primary" onClick="document.getElementById('h2_section5').scrollIntoView();">Learn More</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./assets/images/card_awareness_img_09.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Community Awareness</h5><br/><br/>
        <button class="btn btn-primary" onClick="document.getElementById('h2_section6').scrollIntoView();">Learn More</button>
      </div>
    </div>
  </div>
</div>
<br/><br/>
<div class="container1">
  <h2 id="h2_section1">Elephants and Honey Bees</h2><br/>
  <div class="row">
    <div class="col">
      <img src="./assets/images/section_honeybees_img_10_1.png" alt="..." class=".sec_img">
    </div>
    <div class="col">
      <p class="para_container1">We explores the use of Beehive Fences as a natural elephant deterrent, helping protect rural communities and farmlands. The idea is based on our innovative research using elephants’ fear of honeybees to help reduce crop-damage and minimize other human-elephant conflict incidences.
        Honey Bees are effective way to reduce damage from crop-raiding elephants and social and economic boost to poverty-stricken rural communities through the sustainable harvesting of Elephant-Friendly Honey.
         </p>
    </div>
  </div>
</div>
<br/><br/><br/>
<div class="container1">
  <h2 id="h2_section2">Real-time Elephant Detection & Monitoring</h2><br/>
  <div class="row">
    <div class="col-sm">
      <img src="./assets/images/section_monitoring_img_11.png" alt="..." class="">
    </div>
    <div class="col">
      <p class="para_container1">We use Cameras installed in zone areas to obtain live feed of the area. If elephants approach, our system is able to distinguish elephants and send notifications to the main system. Additionally, our system is capable to capture unexpected incidents via cameras and alert the main system to take required actions.</p>
    </div>
  </div>
</div><br/><br/><br/>
<div class="container1">
  <h2 id="h2_section3">Incident Reporting and Management</h2><br/>
  <div class="row">
    <div class="col-sm">
      <img src="./assets/images/section_incident_img_12.png" alt="..." class="">
    </div>
    <div class="col">
      <p class="para_container1">Authorized farmers can view live feed of their zones and report unexpected situations through our system.This is a effective proactive method to prevent unexpected disastes early.</p>
    </div>
  </div>
</div><br/><br/><br/>
<div class="container1">
  <h2 id="h2_section4">View Live Camera Feed of respective Zone(s)</h2><br/>
  <div class="row">
    <div class="col-sm">
      <img src="./assets/images/section_live_img_13.png" alt="..." class="">
    </div>
    <div class="col">
      <p class="para_container1">Authorized farmers can view live feed of their zones and report unexpected situations through our system.</p>
    </div>
  </div>
</div><br/><br/><br/>
<div class="container1">
  <h2 id="h2_section5">Real-Time Incident Dashboard  </h2><br/>
  <div class="row">
    <div class="col-sm">
      <img src="./assets/images/section_dashboard_img_14.png" alt="..." class="">
    </div>
    <div class="col">
      <p class="para_container1">Real-time Dashboard view for admins to monitor incidents generate business insights and anaytics</p>
    </div>
  </div>
</div><br/><br/><br/>
<div class="container1">
  <h2 id="h2_section6">Community Awareness</h2><br/>
  <div class="row">
    <div class="col-sm">
      <img src="./assets/images/section_awareness_img_15.png" alt="..." class="">
    </div>
    <div class="col">
      <p class="para_container1">Spreading knowledge about elephants is important in minimizing human-elephant conflict and support human-elephant coexistence. In doing so, we are increasing conservation awareness both amongst those that live with elephants and around the world. All articles, stories and publications freely available in our website, which is a huge resource for elephant enthusiasts all over the world.</p>
    </div>
  </div>
</div>