<h1>Welcome to Zone 03!!</h1>

<c-spinner color="success" variant="grow"> </c-spinner>

<!-- <c-progress class="mb-3">
    <c-progress-bar color="success" [value]="25" variant="striped"></c-progress-bar>
  </c-progress>
  <c-progress class="mb-3">
    <c-progress-bar color="info" [value]="50" variant="striped"></c-progress-bar>
  </c-progress>
  <c-progress class="mb-3">
    <c-progress-bar color="warning" [value]="75" variant="striped"></c-progress-bar>
  </c-progress>
  <c-progress class="mb-3">
    <c-progress-bar color="danger" [value]="100" variant="striped"></c-progress-bar>
  </c-progress> -->
We are online!!

<video-streaming> </video-streaming>

<hr />

<!-- comment section for Video Streaming -->
<form action="">
  <textarea id="comment" rows="4" cols="160" style="border: none" placeholder="Add your comment here..."></textarea>
  <br/>
  <input type="submit" value="Submit" style="background-color: #008CBA;border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;">
</form>
<hr />

<!-- <h3 style="text-align:center">Elephants Last Scene record list</h3>
<table [striped]="true" cTable color="dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Area</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Area 01</td>
      <td>2023-02-19</td>
      <td>15:35</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Area 03</td>
      <td>2023-02-19</td>
      <td>10:23</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Area 03</td>
      <td>2023-02-18</td>
      <td>17:22</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Area 05</td>
      <td>2023-02-18</td>
      <td>14:36</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Area 06</td>
      <td>2023-02-18</td>
      <td>11:18</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Area 03</td>
      <td>2023-02-18</td>
      <td>10:48</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Area 05</td>
      <td>2023-02-18</td>
      <td>05:10</td>
    </tr>
  </tbody>
</table> -->