<c-row ngPreserveWhitespaces>
  <c-col xs="12">
      <c-card class="mb-4">
          <c-card-header class="horizontalHeader">
            <c-col class="mb-12">
            </c-col>
            <c-col md="8"></c-col>
            <c-col md="2">
          
              <select cSelect id="" name="">
                <option value="0">Period</option>
                <option>
          
                </option>
              </select>
            </c-col>
            
            <c-col md="2">
              <button cButton class="" color="primary" >Create New Timesheet</button>
            </c-col>
          </c-card-header>

          <c-card-body>
              <form cForm class="row g-3 needs-validation">
                  <c-col md="12">
                      <table [hover]="true" cTable [responsive]="true">
                          <thead>
                              <tr>
                                  <th scope="col">Date</th>
                                  <th scope="col">Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>
                                      <label cLabel for="">2023-01-25</label>
                                  </td>
                                  <td> <label cLabel for="">Approved</label>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </c-col>
              </form>
          </c-card-body>
      </c-card>
      <c-card class="mb-4">
        <c-card-header class="horizontalHeader">
          <c-col class="mb-12">
          </c-col>
          <c-col md="8"></c-col>
          <c-col md="2">
        
            <select cSelect id="" name="">
              <option value="0">Period</option>
              <option>
        
              </option>
            </select>
          </c-col>
          
          <c-col md="2">
            <button cButton class="" color="primary" >Create New Timesheet</button>
          </c-col>
        </c-card-header>

        <c-card-body>
            <form cForm class="row g-3 needs-validation">
                <c-col md="12">
                    <table [hover]="true" cTable [responsive]="true">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label cLabel for="">2023-01-25</label>
                                </td>
                                <td> <label cLabel for="">Approved</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </c-col>
            </form>
        </c-card-body>
    </c-card>
  </c-col>
</c-row>